{% extends "layout.twig" %}

{% block style %}
<link rel="stylesheet" href="{{ base_url() }}/css/main.css">
{% endblock %}

{% block content %}
  <main role="main">
    <div class="jumbotron rounded-0">
      <div class="container">
        <h1 class="display-3 d-md-block d-none">สาขาวิทยาการคอมพิวเตอร์และสารสนเทศ</h1>
        <h1 class="display-5 d-md-none d-block">สาขาวิทยาการคอมพิวเตอร์และสารสนเทศ</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3>
            <i class="far fa-newspaper"></i> ข่าวสาร</h3>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-light" href="{{ path_for('news') }}" role="button">ข่าวเก่า</a>
        </div>
        <div class="col-12">
          <hr>
        </div>
        {% for news in resNews %}
          <div class="col-md-3">
            <div class="card shadow-card">
              {% if news['full_picture'] %}
              <img src="{{ news['full_picture'] }}" alt="news images" class="card-img-top">
              {% else %}
              <img src="{{ base_url() }} /assets/images/megaphone.png" alt="news images" class="card-img-top">
              {% endif %}
              <div class="card-body">
                <span class="badge badge-dark">โพสต์เมื่อ : {{ news['created_time']['date']|slice(0, 19) }}</span>
                <p>{{ news['message']|slice(0, 150) }} . . .</p>
                <p>
                  <a class="btn btn-secondary" href="{{ news['link'] }}" target="_blank" role="button">อ่านเพิ่มเติม »</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class="col-6">
          <h3>
            <i class="far fa-calendar-alt"></i> กิจกรรมที่กำลังจะมาถึง</h3>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-light" href="{{ path_for('event') }}" role="button">กิจกรรมที่ผ่านมา</a>
        </div>
        <div class="col-12">
          <hr>
        </div>
        {% for event in resEvent %}
          <div class="col-md-6">
            <div class="card shadow-card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-2">{{ event['name'] }}</h3>
                <strong class="d-inline-block mb-2 text-success"><i class="far fa-clock"></i> ตั้งแต่วันที่ : {{ event['start_time']['date']|slice(0, 10) }} เวลา : {{ event['start_time']['date']|slice(11, 8) }} {{ 'ถึงวันที่วันที่ : '~event['end_time']['date']|slice(0, 10)|e }} {{ 'เวลา : '~event['end_time']['date']|slice(11, 8)|e }}</strong>
                <div class="mb-2 text-muted">
                  <i class="fas fa-map-marker-alt"></i> ณ {{ event['place']['name']|e }} {{ event['place']['location']['street']|e }} {{ event['place']['location']['city']|e }} {{ event['place']['location']['country']|e }}
                </div>
                <p class="card-text">{{ event['description']|slice(0, 150) }}</p>
                <p>
                  <a class="btn btn-secondary" href="https://www.facebook.com/events/{{ event['id'] }}" target="_blank" role="button">อ่านเพิ่มเติม »</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <h3>
            <i class="far fa-comment-alt"></i> ความคิดเห็น
          </h3>
        </div>
        <div class="col-12">
          <hr>
        </div>
        {% for comment in resComment %}
        <div class="col-12 comment-block my-2 p-3">
          <div class="row m-0">
            <div class="col-md-3 d-flex justify-content-center p-0">
            {% if (comment.profile_pic) %}
              <div id="profile_pic" class="profile_picture" style="background-image: url({{ base_url() }}/uploads/profile_pic/{{ comment.profile_pic }});"></div>
            {% else %}
              <div id="profile_pic" class="profile_picture" style="background-image: url({{ base_url() }}/assets/images/profile.jpg);"></div>
            {% endif %}
            </div>
            <div class="col-md-9">
              <a href="{{ path_for('profile',{ id:comment.google_user_id }) }}"><h4 class="m-md-0 mt-2">{{ comment.full_name }}</h4></a>
              {% if comment.generation != '' %}
              <p class="font-weight-bold m-0">นักศึกษารุ่นที่ : {{ comment.generation }}</p>
              {% endif %}
              {% if comment.public_profile == "1" and comment.company_name != '' %}
              <p class="m-0">{{ comment.work_position }} @{{ comment.company_name }}</p>
              {% elseif comment.public_profile == "1" and comment.company_name == '' %}
              <p class="m-0">{{ comment.work_position }}</p>
              {% endif %}
              <hr>
              <p>{{ comment.comment_text }}</p>
            </div>
          </div> 
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}