<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-signin-client_id" content="681596273797-uf09tipgtrdug7n7312snc4vb2u73qkq.apps.googleusercontent.com">
  <title>CIS>_</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }} /assets/images/cis_logo.png" />
  {% block style %}
  {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ path_for('home') }}">
      <span class="h3 m-0">CIS>_</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {{ (current == 'home') ? 'active' : '' }}">
          <a class="nav-link" href="{{ path_for('home') }}">ข่าวสารและกิจกรรม</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">หลักสูตรและการสอน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">รายชื่ออาจารย์</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">รายชื่อนักศึกษา</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if (signin) and (signin != "") %}
        <li class="nav-item {{ (current == 'profile') ? 'active' : '' }}">
          <a class="nav-link" href="{{ path_for('profile',{ id:signin }) }}">โปรไฟล์</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="signOut()">ออกจากระบบ</a>
        </li>
        {% else %}
        <li class="nav-item {{ (current == 'signin') ? 'active' : '' }}">
          <a class="nav-link" href="{{ path_for('signin') }}">ลงชื่อเข้าใช้งาน</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  {% if current != 'signin' %}
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
        <div class="col-12 col-md">
          <img class="mb-2" src="{{ base_url() }} /assets/images/cis_logo.png" alt="" width="72" height="72">
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <!-- <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Cool stuff</a>
            </li>
            <li>
              <a class="text-muted" href="#">Random feature</a>
            </li>
            <li>
              <a class="text-muted" href="#">Team feature</a>
            </li>
            <li>
              <a class="text-muted" href="#">Stuff for developers</a>
            </li>
            <li>
              <a class="text-muted" href="#">Another one</a>
            </li>
            <li>
              <a class="text-muted" href="#">Last time</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Team</a>
            </li>
            <li>
              <a class="text-muted" href="#">Locations</a>
            </li>
            <li>
              <a class="text-muted" href="#">Privacy</a>
            </li>
            <li>
              <a class="text-muted" href="#">Terms</a>
            </li>
          </ul>
        </div> -->
      </div>
    </footer>
  </div>
  {% endif %}
</body>
<script src="{{ base_url() }} /node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ base_url() }} /node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="{{ base_url() }} /node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
  function onLoad() {
    gapi.load('auth2', function() {
      gapi.auth2.init();
    });
  }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut();
    $.ajax({
      url: '{{ path_for('signout') }}',
      type: 'POST',
      success: () => {
        window.location.href = "{{ path_for('home') }}"
      }
    });
  }
</script>
{% block script %}
{% endblock %}
</html>